name: Pull Requests

on:
  pull_request:
    branches: '*'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Yarn install with caching
        uses: bahmutov/npm-install@v1.6.0
      - run: yarn workspaces run lint
      - run: yarn workspaces run test
      - run: yarn workspaces run build
      - run: yarn workspace infrastructure cdk synth
